header {
    background: #710404;
    color: #ffffff
}

main {
    display: grid;
    grid-template-areas:
        'aside article article'
        'aside footer footer';
    grid-gap: 30px;
}        

aside {
    background: #5b58e4;
}

article {
    background: #ffffff;
}

footer {
    background: #c6ffc5;
}
